/*
body
{
	font-family:Helvetica,Verdana,Arial;
	
	position:fixed;
	width:400px;
	height:500px;
	margin-left:10%;
	padding-left:10%;
	
	background-color:rgba(0,0,0,.5);
}
*/
ul
{
	list-style-type: none;
}

.checker {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	z-index:0;
}

.menu
{
	position:absolute;
	width:30%;
	padding-left:0px;
}

p
{
	color:white;
	font-size:100%;
}

a , a h1
{	
	text-decoration:none;
	background-color:rgb(222,111,7);
	color:rgb(222,222,222);
	font-size:2.0em;
	text-align:right;
}

a:hover,a:hover  h1
{
	background-color:rgb(222,222,222);
	color:rgb(222,111,7);
}
a:active, a:active h1
{
	background-color:rgb(200,200,200);
}

nav
{
	position:absolute;
	top:50%;
	right:0px;
	z-index:5;
	/*border:black solid 2px;*/
	width:60%;
	height:40%;
	background-color:rgba(0,0,0,0.3);
}

nav ul li
{
	width:100%;
	text-align:right;
}

.Date 
{
	border: 1px solid black;
	border-radius:6px;
	width:100%;
	color:white;
	font-size:0.77em;
}

.Signature 
{
	position:fixed;
	z-index:7;
	width:100%;
	bottom:0;
	text-align:center;
	color:white;
	font-size:0.77em;
}