.line{
	background:rgba(0,0,0,0.75);
	border-radius:6px;
}

label{
	display:inline-block;
	position:relative;
	width:20%;
	left:10px;
	color:white;
}
input{
	position:relative;
	width:50%;
	left:10%;
	margin:10px;
	border:purple solid 1px;
}

textarea{
	position:relative;
	width:50%;
	height:200px;
	left:10%;
	border:purple solid 1px;
}