/* top-menu: menu's surrounding box (i.e. the menu bar) */
#list-menu 
{
	background: rgba(0,0,0,0.75);   /* Background color, change as required */
	position:relative;
	width:100%; 			/* Menu bar size, change as required */
	top:0px;
	margin-left:0px;
	margin-bottom:2px;
	padding-top:5px;
	/*border:1px yellow solid;*/
/*
	padding-left:2%;
	padding-top:0.5%;
	padding-bottom:1%;
	*/
	z-index:13;
	border-radius:8px;

}

/* Menu items are part of a Unordered List */
#list-menu ul {
	list-style:none;   /* No bullet s displayed in from of items */
	padding:0;
	margin:0;

}

/* Menu items are li elements of the Unordered List */
#list-menu ul li {
  display:inline-block; /* Menu options to display horizontally */
}

/* Menu items are also anchors within the li elements */
#list-menu ul li a {
  /*margin-right:0px;*/ /* Space between menu options */
  padding:0px 10px; /* Padding for the option selection box */
  margin:2px;
  text-align:center; /* Text centered in the option selection box */
  color:#fff;        /* Text color of the option selection box */
  text-decoration:none; /* No underline for menu options */
  border-radius:6px;
	-webkit-transition: font-size 0.1s ease-in;
	font-size:1em;
 }

/* Menu items colors when mouse over */
#list-menu ul li a:hover,
#list-menu ul li a.active:hover ,
#list-menu ul li a.active
 {
	background:rgba(100,100,100,0.5);
	color:rgb(255,255,255);
	font-size:1.5em;
}


/* Active menu items colors 
#top-menu ul li a.active
{
  background:rgba(50,50,50,.66);
  color:rgb(255,255,255)
  font-size:4em;
}
*/
