/* top-menu: menu's surrounding box (i.e. the menu bar) */

#projects{

	border-radius:12px;
	background:rgb(255,255,255);
    position: relative;
    width:100%;
	height:100%;
	top:0px;
    left:0px;
}

section{
    color: white;
    background:rgb(25,25,25);
	display:block;
}

#thumb
{
	position:relative;
	top:0px;
	
	width:30%;
	right:0px;
	z-index:7;
	overflow:hidden;
}

a{
	color:rgb(66,66,0);
	text-decoration:underline;
}