
body {
    background-color: white;
    font-family: 'Roboto', Arial, sans-serif;
    font-size:16pt;
    position: fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    margin:0px;
    padding: 0px;
}
  
 #grid {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: block;
    background-color: white;
}
  
#background {
    position: absolute;
    width:100%;
    z-index: 0;
}
  
ul {
    list-style-type: none;
}
  
#roof {
    background-color: black;
}
  
#title {
    position:relative;
    display: block;
    z-index:3;
    font-size:2em;
    padding: auto;
    text-align: center;
    letter-spacing: 0.5vw;
    color: greenyellow;
    user-select: none;
}
  
#subtitle {
    position:absolute;
    display: block;
    z-index:3;
    text-align: center;
    width: 76%;
    left:12%;
    bottom: 7%;
    font-size: 0.75em;
    color: white;
    background-color: black;
    letter-spacing: 0.5vw;
    user-select: none;
}
  
#logo {
    z-index: 2;
}
  
#content {
    position:absolute;
    z-index:1;
    overflow: scroll;
    background-color: black;
    -ms-overflow-style: none;  
    /*scrollbar-width: none;*/
}
  
#content::-webkit-scrollbar { 
    display: none; 
}

/* The menu */
#menu {
    font-size:16pt;
    z-index: 1; 
    background-color: rgba(0, 180, 0, 255);
}
  
  /* The navigation menu links */
#menu a {
    position: relative;
    text-decoration: none;
    color: white;
    display: block;
    padding-right: 0.25em;
    padding-left: 0.25em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

/* When you mouse over the navigation links, change their color */
#menu a:hover {
    color: black;
}

@media all and (orientation:landscape) {
    #menu a {display: block;}
}

@media all and (orientation:portrait) {
    #menu a {display: inline;}
}
  


  
  