
.title {
  
	position:absolute;
	width:80%;
	z-index:6;

	padding:2%;
	font-size:333%;
	letter-spacing:1em;
	background-color:rgba(0,0,0,0.75);
	-webkit-animation: title_anim 6s infinite alternate; /* Safari 4+ */
	-moz-animation:    title_anim 3s infinite; /* Fx 5+ */
	/*-o-animation:      NAME-YOUR-ANIMATION 5s infinite; Opera 12+ */
	animation:         title_anim 3s infinite; /* IE 10+ */
	
}
/*
@-webkit-keyframes title_anim {
  0%   { letter-spacing: 1em;left:0%; }
  100% { letter-spacing: 1.1em;left:3% }
}
@-moz-keyframes title_anim {
  0%   { letter-spacing: 1em; }
  100% { letter-spacing: 1.1em; }
}
@-o-keyframes title_anim {
  0%   { letter-spacing: 1em; }
  100% { letter-spacing: 1.1em; }
}
@keyframes title_anim {
  0%   { letter-spacing: 1em;right:25%; }
  100% { letter-spacing: 1.1em;right:0% }
}*/